.gol-board {
  background: #CECAC5;
}

.gol-cell {
  background: #9F6986;
  /*border-radius: 20px;*/
  margin: 1px;
}

.gol-cell:hover {
  background: #772953;
}

.gol-cell.live {
  background: #EA9172;
  transform: translate(4px, -4px);
  box-shadow: -1px 1px 0 #E77E5A,
              -2px 2px 0 #E77E5A,
              -3px 3px 0 #E77E5A,
              -4px 4px 0 #E77E5A;
}

.gol-cell.live:hover {
  background: #DD4814;
}

body {
  font-family: Ubuntu;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
  font-size: 9.9vw;
  white-space: nowrap;
}

.info {
  display: block;
  margin: 10px;
}

.controls div {
  background: #5E2750;
  color: white;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  display: block;
  height: 50px;
  width: 50%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls .control-button {
  cursor: pointer;
}

.github {
  font-size: 3.6em;
}
.github a {
  color: black;
}
