#game-of-life-board {
  flex: none;
  float: left;
  display: block;
  background: #CECAC5;
}

#game-of-life-board:after{
  content: '';
  display: block;
  clear: both;
}

.cell {
  float: left;
  display: block;
  background: #9F6986;
  height: 22px;
  width: 22px;
  /*border-radius: 20px;*/
  margin: 1px;
  /*transition: background .5s,
              box-shadow .5s,
              transform .5s;*/
}

.cell:hover {
  background: #772953;
  /*transition: background 0s,
              box-shadow .5s,
              transform .5s;*/
}

.cell.live {
  /*border: solid 1px #DD4814;*/
  background: #EA9172;
  transform: translate(4px, -4px);
  box-shadow: -1px 1px 0 #E77E5A,
              -2px 2px 0 #E77E5A,
              -3px 3px 0 #E77E5A,
              -4px 4px 0 #E77E5A;

}

.cell.live:hover {
  background: #DD4814;
}

body {
  font-family: Ubuntu;
}
.title {
  text-align: center;
  font-size: 12.5vw;
}
.content {
  display: flex;
}
.info {
  margin: 10px;
}
.controls button {
  background: #5E2750;
  color: white;
  /*font-size: 1vw;*/
  height: 50px;
  width: 100px;
  cursor: pointer;
  text-align: center;
}
