.gol-board {
  background: #CECAC5;
  padding: 2px;
}

.gol-cell {
  background: #9F6986;
  /*border-radius: 20px;*/
  margin: 1px;
}

.gol-cell:hover {
  background: #772953;
}

.gol-cell.live {
  background: #EA9172;
  transform: translate(4px, -4px);
  box-shadow: -1px 1px 0 #E77E5A,
              -2px 2px 0 #E77E5A,
              -3px 3px 0 #E77E5A,
              -4px 4px 0 #E77E5A;
}

.gol-cell.live:hover {
  background: #DD4814;
}

body {
  font-family: Ubuntu;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#title {
  text-align: center;
  font-size: 9.9vw;
}

#right-pane-container {
  position: relative;
}

#right-pane-container:before {
  content: "";
  display: block;
  /*the ratio of Skeleton .eight.columns to .four.columns*/
  padding-top: 213%;
}

#right-pane {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pane-element {
  flex: auto;
  padding: 1px;
}

#blockquote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#control-panel {
  background: #CECAC5;
  flex-grow: 0;
}

#control-panel:after {
  content: "";
  display: block;
  clear: both;
}

.gol-control-element {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  /*height: calc(50% - 4px);*/
  height: 36px;
  width: calc(50% - 4px);
  float: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gol-control-button {
  font-family: FontAwesome;
  cursor: pointer;
  background: #5E2750;
}

#gol-counter {
  background: #AE93A7;
  font-weight: bold;
  font-size: 1.5em;
  cursor: default;
}

#gol-counter.completed {
  background: #EEA389;
}

#gol-toggle {
  transition: background 1s;
}
#gol-toggle.flash {
  background: #DD4814;
}

#gol-reset:before {
  content: "\f021";
}

#gol-tick:before {
  content: "\f051";
}

#gol-toggle:before {
  content: "\f04b";
}

#gol-toggle.active:before {
  content: "\f04c";
}

#github-link {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 0;
  background: #CECAC5;
}

#github-link a {
  font-size: 2.6vw;
  color: white;
  background: #5E2750;
  margin: 2px;
  width: 100%;
}

@media (max-width: 550px) {
  #right-pane-container:before {
    padding-top: 0;
  }

  #right-pane {
    position: relative;
  }

  #github-link a {
    font-size: 8vw;
  }

  .gol-control-element {
    /*height: calc(100% - 4px);*/
    width: calc(25% - 4px);
  }
}
